.f-12{
	font-size: 12px !important;
}
.f-13{
	font-size: 13px !important;
}
.f-14{
	font-size: 14px !important;
}
.f-15{
	font-size: 15px !important;
}
.f-16{
	font-size: 16px !important;
}
.f-17{
	font-size: 17px !important;
}
.f-18{
	font-size: 18px !important;
}
.f-19{
	font-size: 19px !important;
}
.f-20{
	font-size: 20px !important;
}
.f-21{
	font-size: 21px !important;
}
.f-22{
	font-size: 22px !important;
}
.f-23{
	font-size: 23px !important;
}
.f-24{
	font-size: 24px !important;
}
.f-25{
	font-size: 25px !important;
}
.f-26{
	font-size: 26px !important;
}
.f-27{
	font-size: 27px !important;
}
.f-28{
	font-size: 28px !important; 
}
